@import "tailwindcss";
@tailwind utilities;


body{
  overflow-x: hidden;

}

html{
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-switzer), sans-serif;
  overflow-x: hidden;
}

/* Buttons */
.btn,
.btn-sm {
  @apply inline-flex items-center justify-center whitespace-nowrap font-semibold px-6 py-3 rounded-xl transition-all cursor-pointer
}

.btn {
  @apply px-4 py-[11px] ;
}

.btn-sm {
  @apply px-3 py-[5px];
}

/* logo scrolling in partners section (home page) */
 @keyframes scroll-logos {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-33.333%);
          }
        }
        .animate-logo-scroll {
          animation: scroll-logos 60s linear infinite; 
          /* min-width: max-content ensures the container is wide enough for all its content */
          min-width: max-content;
        }

        /* Pause animation on hover for better user experience */
        .scroll-container:hover .animate-logo-scroll {
          animation-play-state: paused;
        }